%header.header_area
  .main_menu
    %nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        = link_to root_path, class: 'navbar-brand logo_h' do
          = image_tag('logo.png', class: 'brand-img')
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse.offset
          %ul.nav.navbar-nav.menu_nav.justify-content-end
            %li.nav-item.active
              %a.nav-link{:href => "index.html"} Inicio
            %li.nav-item
              %a.nav-link{:href => "about.html"} ¿Cómo funciona?
            %li.nav-item
              %a.nav-link{:href => "menu.html"} Prepara tu Menú
            %li.nav-item
              %a.nav-link{:href => "menu.html"} Prepara tu Menú
            %li.nav-item{style: 'display: flex;'}
              - if customer_signed_in?
                = link_to 'Salir', destroy_customer_session_path , method: :delete , class: 'button button-lite', style: 'align-self: center; margin: 0;'
              - else
                = link_to 'Iniciar', new_customer_session_path , class: 'button button-lite', style: 'align-self: center; margin: 0;'
            - if !customer_signed_in?
              %li.nav-item{style: 'display: flex;'}
                = link_to 'Registrarme', new_customer_registration_path , class: 'button button-invert button-lite', style: 'align-self: center; margin: 0;'
= render 'layouts/customers/alerts'
