= render 'layouts/customers/header'
%body
  %section.hero-banner
    .hero-wrapper
      .hero-left
        %h1.hero-title
          Almuerzos
          %br/
          hechos por mamás
        .d-sm-flex.flex-wrap
          %a.button.button-hero.button-shadow{:href => "#"} Elegir comida
          %a.hero-banner__video{:href => "http://www.youtube.com/watch?v=0O2aH4XLbto"} Ver vídeo
        %ul.hero-info.d-none.d-lg-block
          %li
            = image_tag('banner/fas-service-icon.png')
            %h4 Puntual
          %li
            = image_tag('banner/fresh-food-icon.png')
            %h4 Gourmet
          %li
            = image_tag('banner/support-icon.png')
            %h4 People care
      .hero-right
        .owl-carousel.owl-theme.hero-carousel
          .hero-carousel-item
            = image_tag('banner/hero-banner1.png', class: 'img-fluid')
          .hero-carousel-item
            = image_tag('banner/hero-banner2.png', class: 'img-fluid')
          .hero-carousel-item
            = image_tag('banner/hero-banner1.png', class: 'img-fluid')
          .hero-carousel-item
            = image_tag('banner/hero-banner2.png', class: 'img-fluid')
      %ul.social-icons.d-none.d-lg-block
        %li
          %a{:href => "#"}
            %i.ti-facebook
        %li
          %a{:href => "#"}
            %i.ti-twitter
        %li
          %a{:href => "#"}
            %i.ti-instagram
  / ================Hero Banner Section end =================



  / ================Featured Section Start =================
  %section.section-margin.mb-lg-100
    .container
      .section-intro.mb-75px{ style: "max-width: 100%"}
        %h4.intro-title ¿Como Funciona?
        %h2 En solo 3 simples pasos
      .row{ style: "text-align: center;"}
        .col-md-4.col-sm-12
          .food-card
            .header
              =image_tag("banner/selectFood.svg", width: "30%", )
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Selecciona'
              %p Lorem Lor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum...
        .col-md-4.col-sm-12
          .food-card
            .header
              =image_tag("banner/addressfood.svg", width: "30%", )
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Ingresa tu dirección'
              %p Lorem Lor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum...
        .col-md-4.col-sm-12
          .food-card
            .header
              =image_tag("banner/buyFood.svg", width: "30%", )
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Ordena'
              %p Lorem Lor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ipsum...

  / ================Featured Section End =================


  / ================Food menu section start =================
  %section.section-margin
    .container
      .section-intro.mb-75px
        %h4.intro-title Menu
        %h2 De la Semana
      .row
        - if @top_products.any?
          .row
            - @top_products.each do |product|
              .col-lg-4.col-sm-6
                .media.align-items-center.food-card
                  = image_tag(product.display_image.attachment(:small), class: 'mr-3 mr-sm-4 img-responsive')
                  .media-body
                    .d-flex.justify-content-between.food-card-title
                      %h4= "#{product.name}"
                      %h3.price-tag= "#{product.display_price}"
                    %p= "#{product.description.slice(0,50)}"
                    %a.button.button-lite{:href => "#"} Ordenar

  / ================Food menu section end =================

  / ================Offer Section Start =================
  %section.bg-lightGray.section-padding
    .container
      .row.no-gutters
        .col-sm
          = image_tag('home/offer-img.png', class: 'card-img rounded-0')
        .col-sm
          .offer-card.offer-card-position
            %h3 Ahorra hasta
            %h2 50%
            %h3 en descuento mensual
            %a.button{:href => "#"} Comprar ya
  / ================Offer Section End =================


  / ================CTA section start =================
  %section.cta-area.text-center
    .container
      %p Olvídate de llevar los tuppers a la oficina
      %h2 Almuerzos Gourment al mejor precio
      %a.button{:href => "#"} Elegir comida
  / ================CTA section end =================



  / ================Reservation section start =================
  %section.bg-lightGray.section-padding
    .container
      .row.align-items-center
        .col-md-6.col-xl-5.mb-4.mb-md-0
          .section-intro
            %h4.intro-title Ofertas y Descuentos
            %h2.mb-3 Mantente conectado
          %p Recibe nuestra últimas promociones y noticias acerca de lo que estamos cocinado para ti, al subscribirte recibe un código de descuento único por un 20% en tus compras.
        .col-md-6.offset-xl-2.col-xl-5
          .search-wrapper
            %h3 Newsletter
            %form.search-form{:action => "#"}
              .form-group
                .input-group
                  %input.form-control{:placeholder => "Your Name", :type => "text"}/
                  .input-group-append
                    %span.input-group-text
                      %i.ti-user
              .form-group
                .input-group
                  %input.form-control{:placeholder => "Email Address", :type => "text"}/
                  .input-group-append
                    %span.input-group-text
                      %i.ti-email
              .form-group
                .input-group
                  %input.form-control{:placeholder => "Phone Number", :type => "text"}/
                  .input-group-append
                    %span.input-group-text
                      %i.ti-headphone-alt
              .form-group.form-group-position
                %button.button.border-0{:type => "submit"} Subscribirme
  / ================Reservation section end =================



  / ================ start footer Area =================
  = render 'layouts/customers/modal'
  = render 'layouts/customers/footer'


:javascript
  $(document).ready(function(){

    $('.food-card').click(function(){
      $('#exampleModalCenter').modal('show')
    })

  })
