= stylesheet_link_tag "profile"
.login-reg-panel
  .login-info-box
    %h2{ style: 'color: #fff;'} Have an account?
    %p Lorem ipsum dolor sit amet
    %label#label-register{:for => "log-reg-show"} Login
    %input#log-reg-show{:checked => "checked", :name => "active-log-panel", :type => "radio"}
  .register-info-box
    %h2{ style: 'color: #fff;'} Don't have an account?
    %p Lorem ipsum dolor sit amet
    %label#label-login{:for => "log-login-show"} Register
    %input#log-login-show{:name => "active-log-panel", :type => "radio"}
  .white-panel
    .login-show
      .row
        .col-md-6
          = link_to root_path, class: 'navbar-brand logo_h' do
            = image_tag('logo.png', class: 'brand-img')
        .col-md-6
          %h2 LOGIN
      %input{:placeholder => "Email", :type => "text"}
      %input{:placeholder => "Password", :type => "password"}
      %input{:type => "button", :value => "Login"}
      %a{:href => ""} Forgot password?
    .register-show
      .row
        .col-md-6
          = link_to root_path, class: 'navbar-brand logo_h' do
            = image_tag('logo.png', class: 'brand-img')
        .col-md-6
          %h2 REGISTER
      %input{:placeholder => "Email", :type => "text"}
      %input{:placeholder => "Password", :type => "password"}
      %input{:placeholder => "Confirm Password", :type => "password"}
      %input{:type => "button", :value => "Register"}

:javascript

    $(document).ready(function(){
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');
    });


    $('.login-reg-panel input[type="radio"]').on('change', function() {
        if($('#log-login-show').is(':checked')) {
            $('.register-info-box').fadeOut();
            $('.login-info-box').fadeIn();

            $('.white-panel').addClass('right-log');
            $('.register-show').addClass('show-log-panel');
            $('.login-show').removeClass('show-log-panel');

        }
        else if($('#log-reg-show').is(':checked')) {
            $('.register-info-box').fadeIn();
            $('.login-info-box').fadeOut();

            $('.white-panel').removeClass('right-log');

            $('.login-show').addClass('show-log-panel');
            $('.register-show').removeClass('show-log-panel');
        }
    });
