= stylesheet_link_tag "order"
= render 'layouts/customers/header'
%body

  / ================Featured Section Start =================
  %section.mb-lg-100
    .container
      .section-intro.mb-75px{ style: "max-width: 100%"}
        %h4.intro-title Selecciona
        %h2 Tus dias de entrega
    .row{ style: "text-align: center;"}
      .col-sm-2
        %h2 <

      .col-sm-8
        %div{style: 'display:flex; flex-wrap: wrap;'}
          .food-card.date-day
            .header
              %h3 25
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Lunes'
          .food-card.date-day
            .header
              %h3 26
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Martes'
          .food-card.date-day
            .header
              %h3 27
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Miercoles'
          .food-card.date-day
            .header
              %h3 28
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Jueves'
          .food-card.date-day
            .header
              %h3 29
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Viernes'
          .food-card.date-day
            .header
              %h3 30
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Sabado'
          .food-card.date-day
            .header
              %h3 31
            .body{ style: 'margin-top: 20px;'}
              %h4= 'Domingo'

      .col-sm-2
        %h2 >

    .container{ style: "margin-top: 30px;"}
      .row
        .col-sm-12
          - if @taxonomies.any?
            %ul.hero-info{ style: "padding: 0;display: flex;overflow-x: auto;"}
              - @taxonomies.each do |cat|
                %li
                  %a{:href => "/"}
                    = image_tag('banner/health.svg', width: '40px')
                    %h4= cat.name

    .container{ style: "margin-top: 30px;"}
      .row
        - if @top_products.any?
          .row.product-list
            - @top_products.each do |product|
              .col-lg-4.col-sm-6
                .media.align-items-center.food-card{ idr: product.id}
                  = image_tag(product.display_image.attachment(:small), class: 'mr-3 mr-sm-4 img-responsive')
                  .media-body
                    .d-flex.justify-content-between.food-card-title
                      %h4= "#{product.name}"
                      %h3.price-tag= "#{product.display_price}"
                    %p= "#{product.description.slice(0,50)}"
                    = link_to 'Ordenar', customer_signed_in? ? profile_order_path : new_customer_session_path, class: 'button button-lite'


  / ================Featured Section End =================



  / ================Reservation section start =================
  %section.bg-lightGray.section-padding
    .container
      .section-intro.mb-75px{ style: "max-width: 100%"}
        %h4.intro-title Ingresa
        %h2 Tu dirección de entrega

      .row.align-items-center
        .col-md-6
          %form.search-form{:action => "#"}
            .form-group
              .input-group
                %input.form-control{:placeholder => "Direccion de entrega", :type => "text"}/
            .form-group
              .input-group
                %input.form-control{:placeholder => "Opciones de entrega", :type => "text"}/
            .form-group
              .input-group
                %textarea.form-control{:placeholder => "Comentarios de entrega"}
            .form-group.form-group-position
              %button.button.border-0{:type => "submit"} Aceptar
        .col-md-6
          %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.212827407536!2d-74.10057988583183!3d4.733056642695482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84ec9237502b%3A0xb9269792a0b88ad1!2sCra.%20102a%20%23130d-99%20a%20130d-7%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1585169465262!5m2!1ses-419!2sco", :style => "border:0;", :tabindex => "0", :width => "400"}

  / ================Reservation section end =================


  / ================Featured Section Start =================
  %section.section-margin.mb-lg-100
    .container
      .section-intro.mb-75px{ style: "max-width: 100%"}
        %h4.intro-title Checkout
        %h2 Tu Orden
      .row
        .col-md-8
          .row
            .col-md-4.text-center
              = image_tag('banner/hero-banner1.png', width: '100%')
            .col-md-8
              %h4#exampleModalLongTitle.modal-title{style: 'margin-bottom: 30px;'} Roasted Marrow
              %ul.hero-info.d-none.d-lg-block{ style: "padding: 0; margin-bottom: 30px;"}
                %li
                  = image_tag('banner/health.svg', width: '30px')
                %li
                  = image_tag('banner/steak.svg', width: '30px')
              %ul{ style: "padding: 0; margin-bottom: 30px; display: flex;"}
                %li
                  %a.button.button-lite.button-category.button-invert{:href => "#"} Pastas
                %li
                  %a.button.button-lite.button-category.button-invert{:href => "#"} Carnes
                %li
                  %a.button.button-lite.button-category.button-invert{:href => "#"} Sin gluten
                %li
                  %a.button.button-lite.button-category.button-invert{:href => "#"} Sin lacteos

              .row
                .col-md-12
                  %h3.price-tag{ style: "padding: 0;margin-top: 7px;display: flex;align-self: center;"} $ 32.000
            .col-md-6.col-sm-12
              %form.search-form{:action => "#"}
                .form-group
                  .input-group
                    %input.form-control{:placeholder => "Ingrese codigo promocional", :type => "text", style:"border: solid 1px;border-radius: 50px;margin: 30px 1px;"}/
        .col-md-4
          .section-intro.mb-75px{ style: "max-width: 100%; margin: 0px;"}
            %h4.intro-title Tus Creditos
          .row
            .col-md-12{style: "display: flex;flex-direction: column;"}
              %h3.price-tag{style: "font-size: 40px;color: #2f2d4e;align-self: end;margin: 20px 0;"} $ 0,00
              =link_to 'Añadir mas', credits_path, class: 'button button-lite', style: 'margin: 0;'             
        .col-md-12
          .footer-step
            %a.button-footer-next{href: "#"} Siguiente


  / ================Featured Section End =================



  / ================ start footer Area =================
  = render 'layouts/customers/modal'
  = render 'layouts/customers/footer'
